

#container {
  text-align: center;



  // transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #2f2f2f;

  margin: 15px;
}

#container a {
  text-decoration: none;
}

.logo{
  height: 10vh;
  width: auto;
  margin: auto;
  display: block;
}

#container ion-item{

  margin: 10px 0px 10px 0px;

}

#container ion-list{

  margin: 20px 0px 20px 0px;
  border-radius: 15px;

}

.toastRegistration{
  text-align: center;
}

ion-footer{
  background-color: #f4f5f8;

   padding: 10px;
   padding-bottom: 15px;
}

.buttonIncidencia{
  margin-bottom: px;
}
