<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="showMenu()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>CityCare</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content id="content" [fullscreen]="true" color="light">

  <ion-list>
    <ion-item>
      <ion-avatar routerLink="/user" slot="end">
        <ion-img src="/assets/img/user.png"></ion-img>
        <!-- <ion-icon ico name="person-outline"></ion-icon> -->
      </ion-avatar>


      <ion-label>Bienvenido/a, {{dataUser.nombre}} {{dataUser.apellidos}}</ion-label>
    </ion-item>
  </ion-list>



  <ion-row>
    <ion-col size="6">

      <ion-card color="warning" class="card-incidencia" routerLink="/crear-incidencia" >
        <ion-card-header>
          <ion-card-subtitle class="ion-text-center">Crear <br>incidencia</ion-card-subtitle>
          <ion-card-content class="ion-text-center">

            <ion-icon size="large"
                      slot="icon-only"
                      class="icon-incidencia"
                      name="camera-outline"></ion-icon>
          </ion-card-content>
        </ion-card-header>

      </ion-card>
    </ion-col>
    <ion-col size="6">


      <ion-card color="danger" class="card-incidencia" routerLink="/incidencias">
        <ion-card-header>
          <ion-card-subtitle class="ion-text-center">Ver <br>Incidencias</ion-card-subtitle>
          <ion-card-content class="ion-text-center">

            <ion-icon size="large"
                      slot="icon-only"
                      class="icon-incidencia"
                      name="construct-outline"></ion-icon>
          </ion-card-content>
        </ion-card-header>

      </ion-card>

    </ion-col>
  </ion-row>

  <p  class="ion-padding">Si es la primera vez que llegas al Home, <br>primero refrescar y luego mostrar incidencias</p>
  <ion-button class="ion-padding " (click)="refreshPage()" expand="block" shape="round">
    Refrescar datos
  </ion-button>
  <ion-button class="ion-padding" (click)="showIncidencias()" expand="block" shape="round">
    Mostrar Incidencias
  </ion-button>


    <h1>Mis Incidencias</h1>

    <app-incidencias-comp [incidencias]="incidencias"></app-incidencias-comp>

</ion-content>
